// Базовая стилизация
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 42px;
  background-color: rgba(73, 73, 73, 0.527);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
button {
  padding: 0;
}
